@import './colors.css';

/* On all projects i need to add this to use rem */
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

/* ------SCROLLBAR------ */
::-webkit-scrollbar{
  width: 1.2em;
}

::-webkit-scrollbar-track{
  background: var(--bg-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb{
  background: var(--accent-color);
  border-radius: 2.5em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--accent-color);
}


html{
  font-size: 62.5%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

nav{
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  list-style-type: none;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}
li{
  list-style: none;
  font-size: clamp(1.5rem, 5vw + 1rem, 2.5rem);;
}

section{
  background-color: var(--text-color);
}

h1,
h2,
h3{
  margin: 0;
}

h1{
  font-size: clamp(4rem, 5vw + 1rem, 5.5rem);
}

h2{
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
}

p{
  font-weight: 400;
  font-size: clamp(.5rem, 5vw + 1rem, 3.5rem);
}

footer {
  height: 500px;
  background-color: var(--bg-color);
}

.logo{
  height: 2em;
  margin: .5em;
}

.hero {
  background-color: var(--bg-color);
  height: 100vh;
  color: var(--text-color);
  font-size: clamp(1rem, 5vw + 1rem, 4.5rem);
}

.hero-area{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.hero-text{
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.socials{
  margin-bottom: 1.5em;
}

.social{
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin: .5em;
  text-align: center;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms linear;
}

.social > svg {
  width: 1.3em;
  height: 1.3em;
  fill: var(--icon-color);
}

.social:hover{
  transform: scale(1.3);
  opacity: .9;
  cursor:pointer;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  /* text-transform: uppercase; */
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw + 1rem, 3.5rem);
  padding: .2em .7em;
  margin-top: .5em;
  text-align: center;
  background: var(--accent-color);
  border-radius: 2.5em;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms linear;
}

.btn:hover,
.btn:focus{
  transform: scale(1.1);
  opacity: 0.9;
}

.sub-section-area{
  display: flex;
  justify-content: space-around;
  padding: clamp(.1em, 5vw + 1em, .7em);
}

.sub-section-alternative{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: clamp(.1em, 5vw + 1em, .7em);
}

.headshot{
  min-width: 150px;
  min-height: 150px;
  max-width: 30vw;
  max-height: 30vw;
  border-radius: 50%;
}

.headshot-container{
  /* display: flex; */
}
 
.project-container{
  display: flex;
  justify-content: space-around;
}
.project-card{
  width: 200px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(200, 196, 196);
}

.split{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content:space-around;
}

.split > *{
  flex-basis: 30%;
  min-width: 15em;
}
